# Entorno virtual
venv/
env/

# Variables de entorno
.env

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de configuración del sistema/IDE
*.DS_Store
*.vscode/
.idea/

# Archivos de prueba o temporales
*.log
*.tmp

# Exports (si quieres ignorar los CSV dentro de exports/)
exports/*.csv
